*.class
*.log

bin/
project/
target/
build/

history
.scala_dependencies
.cache
.cache-main

/server/
flycheck_*.el
*_flymake.*
/elpa/
.ensime
build.properties
scalastyle-config.xml
scalastyle_2.12-1.0.0-batch.jar
.ensime_cache/
spacemacs